#header{
    color: #ff1806;
    text-align: center;
}
#soccer-combat{
    width: 66.5vw;
    height: 76.5vh;
}
#soccer-combat1{
    width: 20vw;
    height: 20vh;
}
#null-line{
    background-color: transparent;
    height: 2.45vw;
    width: 5vw;
}
#box0{
    display: flex;
    flex-direction: row;
}
#box1{
    width: 69vw;
    height: auto;
    display: flex;
    text-align: justify;
    flex-direction: column;
}
#box2{
    padding: 5vh 5vw 5vh 5vw;
}
#para{
    font-size: 1em;
}
#nav1{
    padding-right: 2vw;
    background-color: black;
    border-style: solid;
    border-width: thin;
    border-color: transparent;
}
#menu{
    list-style-type: none;
}
#home0, #about0, #reference0{
    display: inline-flex;
    color: white;
    text-align: right;
    padding: 0vh 2vw 0vh 2vw;
}
#home0{
    padding-left: 70vw;
}
#border{
    border-style: solid;
    border-color: black;
    border-width: thin;
}